---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Tecnologia from '../components/Tecnologia.astro';
import Hero from '../components/Hero.astro';
import SobreMi from '../components/SobreMi.astro';
import Stack from '../components/Stack.astro';
import Proyectos from '../components/Proyectos.astro';
import Trayectoria from '../components/Trayectoria.astro';
import Footer from '../components/Footer.astro';

const titulo = "Portfolio | Data Engineer & Web Developer";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{titulo}</title>
  </head>
	
	<body class="bg-gray-950 text-gray-50 font-sans p-8 overflow-x-hidden">
    
    <Header /> 
    
    <main class="max-w-6xl mx-auto p-8 mt-20 space-y-32 animar-entrada">
      <Hero />
      <SobreMi />
		  <Stack />
      <Proyectos />
  	  <Trayectoria />
		</main>

	  <Footer />
    
  </body>
</html>