---
---

<footer class="max-w-1xl mx-auto px- py-8 border-t border-gray-800 flex justify-center">
  <p class="text-gray-500 text-sm text-center">
    © {new Date().getFullYear()} César Betancor Cano
  </p>
</footer>